		<header>
			<div class="logo"> <i></i> FiatCoin</div>

			<div class="nav">
				<div class="nav-item"></div>
				<div class="nav-item"></div>
				<div class="nav-item"></div>
			</div>

		</header>