<h2>add a bid</h2>

<form method="POST" action="/location/{{id}}/bid" class="">
  <label for="name" class="">
    <span class="form-label">bid</span>
    <input
      type="text"
      id="amount"
      name="amount"
      placeholder="{{minBid}}"
      class="form-input">
  </label>

  <label for="name" class="">
    <span class="form-label">bid</span>
    <input
      type="text"
      id="address"
      name="address"
      placeholder=""
      class="form-input">
  </label>

  <button class="form-button">BID</button>
</form>