@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
	list-style-type: none;
	font-family: "Roboto", sans-serif;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	max-height: auto;

	background: linear-gradient(rgba(233, 171, 0, 0.5), rgba(0, 0, 0, 0.7)),
		url(/images/background_cover.jpg) no-repeat;
	width: 100%;
	background-size: cover;
	position: relative;
}

body::after {
	content: url(/images/elon_pointing.png);
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0.7;
}



.container {
    min-height: 95vh;
    background-color: rgba(255, 255, 255, 0.2);
    width: 80%;
    margin: auto;
}

header {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	height: 8rem;
	display: flex;
	justify-content: space-between;
}

footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgba(255, 255, 255, 0.9);
    height: 6rem;
    text-align: center;
    font-size: 3rem;
    padding: 2rem 0px;
}

.logo {
	color: rgba(255, 255, 255, 0.9);
	font-size: 5rem;
	font-weight: 900;
	margin-left: 2rem;
	padding-top: 1rem;
}

.logo > i {
	content: url(/images/dogecoin_logo.png);
	width: 6rem;
	height: 6rem;
	vertical-align: text-top;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 50%;
    height: 100%;
    align-items: center;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 500;
}



.summary {
	display: flex;
	flex-wrap: wrap;
}


.card {
	display: flex;
	width: calc(80% / 2);
	margin: 3rem;
	background-color: rgba(0, 0, 0, 0.3);
	height: 20rem;
	border-radius: 2rem;
}

.card > a {
	min-width: 20rem;
}

.card > a > img {
	max-width: 20rem;
	min-height: auto;
	max-height: 20rem;
	border-top-left-radius: 2rem;
	border-bottom-left-radius: 2rem;
}

.card > .card-container {
	height: 20rem;
	color:rgba(255, 255, 255, 0.9);
	margin: 1.5rem 2rem;
}

.card-container > h4 {
	font-size: 5rem;
}

.card-container > p {
	font-size: 2rem;
}

.auction {
	display: block;
}

.auction-details-card {
	display: flex;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 4rem 2rem;
	position: relative;
	
}


.auction-details-card > img {
	min-width: auto;
	max-width: 60%;
	min-height: auto;
	max-height: 50rem;
	border-radius: 2rem;
}

.auction-details-card > .card-container {
	height: 30rem;
	color:rgba(255, 255, 255, 0.9);
	margin: 2.5rem 3rem;
	font-size: 3rem;
}

.auction-details-card > .card-container > .bids {

	font-size: 3rem;
}



.auction-details-card > .card-container > p:first-of-type {
	position:absolute;
	right: 0;
	top: 0;
	margin: 2rem;

}